

<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-12">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Button
</button>

<button class="mdl-button mdl-js-button mdl-button--fab">
  <i class="material-icons">add</i>
</button>
<p style="width:300px">
    <input class="mdl-slider mdl-js-slider" type="range"
    min="0" max="100" value="0" tabindex="0">
  </p>


  <p style="width: 100px; background-color:chartreuse;"><button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button></p>
    <ul class="mdl-menu mdl-js-menu" for="menu-speed">
      <li class="mdl-menu__item">Fast</li>
      <li class="mdl-menu__item">Medium</li>
      <li class="mdl-menu__item">Slow</li>
    </ul>

    <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div>
      </form>


      <div class="form-panel active">Panel one content here</div>
      <div class="form-panel">Panel two content here</div>
      <div class="form-panel">Panel three content here</div>
      <div class="form-panel">Panel four content here</div>
      <div class="form-panel">Panel five content here</div>
      <div class="form-panel">Panel six content here</div>
      <br>
      <button class="previous">Previous</button>
      <button class="next" (click)="next()">Next</button> -->

