Form


<div class="form-panel active" style="height: 300px">Panel one content here</div>
<div class="form-panel" style="height: 300px">Panel two content here</div>
<div class="form-panel" style="height: 300px">

              <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #picker></mat-datepicker>
                  </mat-form-field>
</div>
<div class="form-panel" style="height: auto;">
    People:<br />

            <div class="col-lg-4" *ngFor="let peop of people"><img src="{{peop.image}}"><br />
                <input name="options" ng-control="options" type="radio" [value]="peop.count" > {{peop.count}}</div>

</div>
<div class="form-panel" style="height: 300px">
    Budget:<br />
    <mat-slider color="primary" value="50" thumbLabel aria-label="Primary color slider" [ngModel]="event.budget"></mat-slider>
 
</div>
<div class="form-panel" style="height: 300px">Panel six content here</div>
<button mat-raised-button class="accent-color" (click)="previous()">Previous</button>
<button mat-raised-button class="accent-color" (click)="next()">Next</button>